<!--div class="wrapper">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-white">
    <div class="container px-4">
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
         aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"   id="sidenav-collapse-main">
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed" >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div-->
<div class="wrapper">
    <router-outlet></router-outlet>
</div>
