<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-lg-10 col-md-8 col-sm-6">
                                <h4 class="card-title mt-0"> Tickets
                                </h4>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="demo-button-container">
                                    <button mat-raised-button (click)="obtenerInfoInventarioExcel()"
                                        class="demo-button">
                                        <i class="material-icons">download</i>
                                        Descargar Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataDevices" class="mat-elevation-z8 demo-table">

                                <ng-container matColumnDef="demo-ticket" >
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Ticket</mat-label>
                                            <input matInput [(ngModel)]="inventario.ticket"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ticket}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-ciudad">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Ciudad</mat-label>
                                            <input matInput [(ngModel)]="inventario.ciudad"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Agencia[0].Tipo[0].Ciudad[0].ciudad}}</td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tipo">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tipo</mat-label>
                                            <input matInput [(ngModel)]="inventario.tipo"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Agencia[0].Tipo[0].tipo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-agencia" sticky>
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Agencia</mat-label>
                                            <input matInput [(ngModel)]="inventario.agencia"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Agencia[0].agencia}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-problema">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tipo de Problema</mat-label>
                                            <input matInput [(ngModel)]="inventario.problema"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.Agencia[0].Tipo[0].Ciudad[0].Propietario[0].Problema[0].problema}}
                                     </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-proveedor">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Proveedor</mat-label>
                                            <input matInput [(ngModel)]="inventario.proveedor"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.Agencia[0].Tipo[0].Ciudad[0].Propietario[0].proveedor}}

                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-soporte">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Persona que dio soporte</mat-label>
                                            <input matInput [(ngModel)]="inventario.soporte"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.soporte}}
                                         </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-descripcion">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Descripción de Problema</mat-label>
                                            <input matInput [(ngModel)]="inventario.descripcion"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.descripcion}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tcompleto">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tiempo Completo</mat-label>
                                            <input matInput [(ngModel)]="inventario.tcompleto"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.tcompleto}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tiempo">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tiempo (dias/horas)</mat-label>
                                            <input matInput [(ngModel)]="inventario.tdias"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tdias}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tiempom">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tiempo (mins) </mat-label>
                                            <input matInput [(ngModel)]="inventario.tmins"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tmins}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-lan">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Afección LAN</mat-label>
                                            <input matInput [(ngModel)]="inventario.lan"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lan}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tiempo1">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Carga al proveedor</mat-label>
                                            <input matInput [(ngModel)]="inventario.time1"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.time1}}</td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tiempo0">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Inicio de Incidencia</mat-label>
                                            <input matInput [(ngModel)]="inventario.time0"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.time0}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tiempo2">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Cierre de Incidencia</mat-label>
                                            <input matInput [(ngModel)]="inventario.time2"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.time2 }}</td>
                                </ng-container>

                                <ng-container matColumnDef="demo-estado">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Activado</mat-label>
                                            <mat-select id="a" name="a" [(ngModel)]="inventario.estado"
                                                (selectionChange)="obtenerInfoInventario_p1()">
                                                <mat-option *ngFor="let a of activado" [value]="a.id">
                                                    {{a.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.estado }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-action" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div style="display:flex !important ;justify-content: flex-end !important;">
                                            <button mat-icon-button matTooltip="Agregar" (click)="openDialogNew()"
                                                [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                            </button>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div style="display:flex !important ;justify-content: flex-end !important;">
                                            <button mat-icon-button matTooltip="Editar"
                                                (click)="obtenerInventarioid(element.id)" (color)="blue"
                                                [matTooltipPosition]="'above'">
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="totalenght" [pageSize]="12" (page)="Page($event)" [pageIndex]="pageIndex"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>