  ::ng-deep .example-container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  ::ng-deep .demo-table {
    width: 100%;
    height: 75%;
    overflow: auto; 
  }
  ::ng-deep .mat-row, .mat-footer-row  {
    height: 30px !important;
  }
  ::ng-deep .mat-header-row {
    height: 45px !important;
  }
  ::ng-deep .mat-row, .mat-header-row, .mat-footer-row{
    height: 30px !important;
  }
  ::ng-deep .mat-column-demo-nombre1 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 20%;
  }
  ::ng-deep .mat-column-demo-estado1 {
    font-style: italic;
    width: 5%;
  }  
  ::ng-deep .mat-column-demo-action1 {
    width: 75%;
  }
  ::ng-deep .mat-column-demo-nombre2 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 15%;
  }
  ::ng-deep .mat-column-demo-link2 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 10%;
  }
  ::ng-deep .mat-column-demo-estado2 {
    font-style: italic;
    width: 5%;
  }
  ::ng-deep .mat-column-demo-action2 {
    width: 70%;
  }
  ::ng-deep .mat-column-demo-nombre4 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 100px!important;
  }
  ::ng-deep .mat-column-demo-marca4 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 100px !important;
  }
  ::ng-deep .mat-column-demo-equipo4 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 100px!important;
  }
  ::ng-deep .mat-column-demo-fecha4 {
    font-style: italic;
    font-size: 15px;
    padding-right: 8px !important;
    width: 100px!important;
  }
  ::ng-deep .mat-column-demo-estado4 {
    font-style: italic;
    width: 100px!important;
  }
  ::ng-deep .mat-column-demo-action4 {
    width: 100px!important;
  }

  ::ng-deep .red {
    font-size: 25px;
    color: red
  }

  ::ng-deep .green {
    font-size: 25px;
    color: green;
  }

  ::ng-deep .mat-header-cell{
    font-weight: bold;
    font-size: 18px;
  }

  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
  }
  .mat-expansion-panel-body {
      padding: 0;
  }
  
  .mat-expansion-panel-header {
    padding: 0; 
  }