<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" data-toggle="tab" href="#ambientes"
                                            (click)="clickListadoAmbientes()">
                                            <i class="material-icons">storage</i> Ambientes
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#ciudades"
                                            (click)="clickListadoCiudades()">
                                            <i class="material-icons">location_on</i> Ciudades
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#hardwares"
                                            (click)="clickListadoHardwares()">
                                            <i class="material-icons">dvr</i> Hardware
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#modelos"
                                            (click)="clickListadoModelos()">
                                            <i class="material-icons">widgets</i> Modelos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#carpetas"
                                            (click)="clickListadoOrions()">
                                            <i class="material-icons">folder_open</i> Carpetas Orion
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#propietarios"
                                            (click)="clickListadoPropietarios()">
                                            <i class="material-icons">engineering</i> Proveedores
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#entidades"
                                            (click)="clickListadoEntidades()">
                                            <i class="material-icons">apartment</i> Entidades
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" data-toggle="tab" href="#problemas"
                                            (click)="clickListadoProblemas()">
                                            <i class="material-icons">bug_report
                                            </i> Problemas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="ambientes">
                                <table mat-table [dataSource]="ambientes" class="demo-table">
                                    <ng-container matColumnDef="demo-nombre1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput [(ngModel)]="ambiente.nombre"
                                                    (change)="clickListadoAmbientes()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="ambiente.estado"
                                                    (selectionChange)="obtenerInfoAmbientes()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">
                                                check_circle</mat-icon>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="demo-action1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button (click)="openDialogAmbientes()"
                                                    matTooltip="Agregar" [matTooltipPosition]="'above'">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogAmbientesEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageAmbientes($event)"
                                    aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="ciudades">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataDevices" class="demo-table">

                                        <ng-container matColumnDef="demo-ciudad">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Ciudad</mat-label>
                                                    <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                        [formControl]="citiescontrolarr" multiple>
                                                        <mat-option *ngFor="let c of cities" [value]="c">{{c.nombre}}
                                                        </mat-option>
                                                    </mat-select>

                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.Ciudad[0].nombreciudad}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="demo-tipo">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Tipo</mat-label>
                                                    <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                        [formControl]="tiposcontrolarr" multiple>
                                                        <mat-option *ngFor="let t of tipos" [value]="t">{{t.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.Ciudad[0].Tipo[0].nombretipo}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="demo-agencia">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Agencia</mat-label>
                                                    <input matInput [(ngModel)]="inventario.nombre"
                                                        (change)="obtenerInfoInventario_p1()">
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.nombreagencia}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="demo-estado">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Activado</mat-label>
                                                    <mat-select id="a" name="a" [(ngModel)]="inventario.estado"
                                                        (selectionChange)="obtenerInfoInventario_p1()">
                                                        <mat-option *ngFor="let a of activado" [value]="a.id">
                                                            {{a.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.estado?
                                                'INGRESADO': 'ELIMINADO' }}
                                            </td>
                                        </ng-container>
        
                                        <ng-container matColumnDef="demo-action" stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef>
                                                <div style="display:flex !important ;justify-content: flex-end !important;">
                                                    <button mat-icon-button matTooltip="Editar Ciudades/Tipos"
                                                        [matTooltipPosition]="'above'"
                                                        (click)="openDialogCTedit()">
                                                        <mat-icon>mode_edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button matTooltip="Agregar Ciudades/Tipos/Agencia" (click)="openDialogAgencia()"
                                                        [matTooltipPosition]="'above'">
                                                        <mat-icon>add_circle_outline</mat-icon>
                                                    </button>
                                                </div>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div style="display:flex !important ;justify-content: flex-end !important;">
                                                    <button mat-icon-button matTooltip="Editar Agencia"
                                                        [matTooltipPosition]="'above'"
                                                        (click)="openDialogAgenciaEdit(element.id)">
                                                        <mat-icon>mode_edit</mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </ng-container>
        

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCiudad"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCiudad;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageCiudades($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="hardwares">
                                <table mat-table [dataSource]="hardwares" class="demo-table">

                                    <ng-container matColumnDef="demo-nombre2">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Valor</mat-label>
                                                <input matInput [(ngModel)]="hardware.nombre"
                                                    (change)="clickListadoHardwares()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-link2">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Tipos</mat-label>
                                                <mat-select id="thw" name="thw" [(ngModel)]="hardware.idLink"
                                                    (selectionChange)="obtenerInfoHardware()">
                                                    <mat-option [value]="null"> </mat-option>
                                                    <mat-option *ngFor="let thw of tipohardware" [value]="thw.id">
                                                        {{thw.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t2[0].nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado2">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="hardware.estado"
                                                    (selectionChange)="obtenerInfoHardware()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">check_circle
                                            </mat-icon>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-action2">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button (click)="openDialogHardware()"
                                                    matTooltip="Agregar" [matTooltipPosition]="'above'">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogHardwareEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageHardwares($event)"
                                    aria-label="Select page" [pageIndex]="pageIndex">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="modelos">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="modelos" class="demo-table">
                                        <ng-container matColumnDef="demo-nombre4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Nombre</mat-label>
                                                    <input matInput [(ngModel)]="modelo.nombre"
                                                        (change)="clickListadoModelos()">
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="demo-equipo4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Equipo</mat-label>
                                                    <mat-select id="a" name="a" [(ngModel)]="modelo.idEquipo"
                                                        (selectionChange)="obtenerInfoModelos()">
                                                        <mat-option [value]="null"> </mat-option>
                                                        <mat-option *ngFor="let a of modeloequipo" [value]="a.id">
                                                            {{a.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Equipo[0].nombre}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="demo-marca4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Marca</mat-label>
                                                    <mat-select id="a" name="a" [(ngModel)]="modelo.idMarca"
                                                        (selectionChange)="obtenerInfoModelos()">
                                                        <mat-option [value]="null"> </mat-option>
                                                        <mat-option *ngFor="let a of modelomarca" [value]="a.id">
                                                            {{a.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Marca[0].nombre}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="demo-fecha4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Fecha</mat-label>
                                                    <input matInput [(ngModel)]="modelo.fecha"
                                                        (change)="obtenerInfoModelos()" [disabled]="true">
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.fechafin == undefined? 'NO
                                                ANUNCIADO': element.fechafin }} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="demo-estado4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Activado</mat-label>
                                                    <mat-select id="a" name="a" [(ngModel)]="modelo.estado"
                                                        (selectionChange)="obtenerInfoModelos()">
                                                        <mat-option *ngFor="let a of activado" [value]="a.id">
                                                            {{a.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">check_circle
                                                </mat-icon>
                                            </td>

                                        </ng-container>
                                        <ng-container matColumnDef="demo-action4">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <div
                                                    style="display:flex !important ;justify-content: flex-end !important;">
                                                    <button mat-icon-button (click)="openDialogModelo()"
                                                        matTooltip="Agregar" [matTooltipPosition]="'above'">
                                                        <mat-icon>add_circle_outline</mat-icon>
                                                    </button>
                                                </div>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div
                                                    style="display:flex !important ;justify-content: flex-end !important;">
                                                    <button mat-icon-button matTooltip="Editar"
                                                        [matTooltipPosition]="'above'"
                                                        (click)="openDialogModeloEdit(element.id)"
                                                        [hidden]="element.exmod">
                                                        <mat-icon>mode_edit</mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageModelos($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="carpetas">
                                <table mat-table [dataSource]="orions" class="demo-table">

                                    <ng-container matColumnDef="demo-nombre1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput [(ngModel)]="orion.nombre"
                                                    (change)="clickListadoOrions()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="orion.estado"
                                                    (selectionChange)="obtenerInfoOrion()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">check_circle
                                            </mat-icon>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="demo-action1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button (click)="openDialogOrion()" matTooltip="Agregar"
                                                    [matTooltipPosition]="'above'">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogOrionEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageOrions($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="propietarios">
                                <table mat-table [dataSource]="propietarios" class="demo-table">

                                    <ng-container matColumnDef="demo-nombre1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput [(ngModel)]="propietario.nombre"
                                                    (change)="clickListadoPropietarios()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="propietario.estado"
                                                    (selectionChange)="obtenerInfoPropietarios()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">check_circle
                                            </mat-icon>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="demo-action1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Agregar"
                                                    [matTooltipPosition]="'above'" (click)="openDialogPropietario()">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogPropietariosEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PagePropietarios($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="entidades">
                                <table mat-table [dataSource]="entidades" class="demo-table">

                                    <ng-container matColumnDef="demo-nombre1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput [(ngModel)]="entidad.nombre"
                                                    (change)="clickListadoEntidades()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="entidad.estado"
                                                    (selectionChange)="obtenerInfoEntidades()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">check_circle
                                            </mat-icon>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="demo-action1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Agregar"
                                                    [matTooltipPosition]="'above'" (click)="openDialogEntidad()">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogEntidadEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageEntidades($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                            <div class="tab-pane" id="problemas">
                                <table mat-table [dataSource]="problemas" class="demo-table">
                                    <ng-container matColumnDef="demo-nombre1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput [(ngModel)]="problema.nombre"
                                                    (change)="clickListadoProblemas()">
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="demo-estado1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Activado</mat-label>
                                                <mat-select id="a" name="a" [(ngModel)]="problema.estado"
                                                    (selectionChange)="obtenerInfoProblemas()">
                                                    <mat-option *ngFor="let a of activado" [value]="a.id">
                                                        {{a.nombre}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">
                                                check_circle</mat-icon>
                                        </td>

                                    </ng-container>

                                    <ng-container matColumnDef="demo-action1">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button (click)="openDialogProblemas()"
                                                    matTooltip="Agregar" [matTooltipPosition]="'above'">
                                                    <mat-icon>add_circle_outline</mat-icon>
                                                </button>
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="display:flex !important ;justify-content: flex-end !important;">
                                                <button mat-icon-button matTooltip="Editar"
                                                    [matTooltipPosition]="'above'"
                                                    (click)="openDialogProblemasEdit(element.id)">
                                                    <mat-icon>mode_edit</mat-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator [length]="totalenght" [pageSize]="20" (page)="PageProblemas($event)"
                                    aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>