<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-lg-10 col-md-8 col-sm-6">
                                <h4 class="card-title mt-0"> Inventario de enlaces
                                </h4>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="demo-button-container">
                                    <button mat-raised-button (click)="obtenerInfoInventarioExcel()"
                                        class="demo-button">
                                        <i class="material-icons">download</i>
                                        Descargar Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataDevices" class="mat-elevation-z8 demo-table">

                                <ng-container matColumnDef="demo-ciudad">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Ciudad</mat-label>
                                            <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                [formControl]="citiescontrol" multiple>
                                                <mat-option *ngFor="let c of cities" [value]="c">{{c.nombre}}
                                                </mat-option>
                                            </mat-select>

                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].Propiedad[0].Ciudad[0].nombreciudad}}</td>
                                </ng-container>

                                <ng-container matColumnDef="demo-tipo">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Tipo</mat-label>
                                            <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                [formControl]="tiposcontrol" multiple>
                                                <mat-option *ngFor="let t of tipos" [value]="t">{{t.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].Propiedad[0].Ciudad[0].Tipo[0].nombretipo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-agencia"sticky>
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Punto A</mat-label>
                                            <input matInput [(ngModel)]="inventario.agencia"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].Propiedad[0].Ciudad[0].Tipo[0].Agencia[0].nombreagencia}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-punto">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Punto B</mat-label>
                                            <input matInput [(ngModel)]="inventario.punto"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].Propiedad[0].Ciudad[0].Tipo[0].Agencia[0].Punto[0].nombrepunto}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-proveedor">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Proveedor</mat-label>
                                            <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                [formControl]="propietarioscontrol" multiple>
                                                <mat-option *ngFor="let p of propietarios" [value]="p">{{p.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].nombreproveedor}} </td>
                                </ng-container>


                                <ng-container matColumnDef="demo-medio">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Medio</mat-label>
                                            <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                [formControl]="medioscontrol" multiple>
                                                <mat-option *ngFor="let p of medios" [value]="p">{{p.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.Proveedor[0].Propiedad[0].Ciudad[0].Tipo[0].Agencia[0].Punto[0].Hardware[0].nombremedio}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-ip">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>IP Tunnel</mat-label>
                                            <input matInput [(ngModel)]="inventario.tunel"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tunel}} </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-bw">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>BW(Kbps)</mat-label>
                                            <input matInput [(ngModel)]="inventario.bw"
                                                (change)="obtenerInfoInventario_p1()" disabled>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.bw}} </td>
                                </ng-container>

                                <!--ng-container matColumnDef="demo-codigo">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Codigo</mat-label>
                                            <input matInput [(ngModel)]="inventario.codigo"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                                </ng-container-->

                                <ng-container matColumnDef="demo-propiedad">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Propiedad</mat-label>
                                            <mat-select (selectionChange)="obtenerInfoInventario_p1()"
                                                [formControl]="entidadescontrol" multiple>
                                                <mat-option *ngFor="let p of entidades" [value]="p">{{p.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Proveedor[0].Propiedad[0].nombrepropiedad}} </td>
                                </ng-container>

                                <!--ng-container matColumnDef="demo-doble">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Doble Enlace</mat-label>
                                            <input matInput [(ngModel)]="inventario.doble"
                                                (change)="obtenerInfoInventario_p1()">
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.doble == 1? 'SI':'NO' }}</td>
                                </ng-container-->
                                <!--ng-container matColumnDef="demo-marca">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-form-field class="example-full-width" appearance="none">
                                                <mat-label>Marca</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                         </th>
                                        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                                    </ng-container-->

                                <ng-container matColumnDef="demo-estado">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-form-field class="example-full-width" appearance="none">
                                            <mat-label>Activado</mat-label>
                                            <mat-select id="a" name="a" [(ngModel)]="inventario.estado"
                                                (selectionChange)="obtenerInfoInventario_p1()">
                                                <mat-option *ngFor="let a of activado" [value]="a.id">
                                                    {{a.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon [ngClass]="element.estado ? 'green' : 'red' ">
                                            check_circle</mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="demo-action" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div style="display:flex !important ;justify-content: flex-end !important;">
                                            <button mat-icon-button matTooltip="Agregar" (click)="openDialogNew()"
                                                [matTooltipPosition]="'above'">
                                                <mat-icon>add_circle_outline</mat-icon>
                                            </button>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div style="display:flex !important ;justify-content: flex-end !important;">
                                            <button mat-icon-button matTooltip="Editar"
                                                (click)="obtenerInventarioid(element.id)" (color)="blue"
                                                [matTooltipPosition]="'above'">
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="totalenght" [pageSize]="12" (page)="Page($event)" [pageIndex]="pageIndex"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>