::ng-deep .demo-table {
    width: 100%;
    height: 75%;
    overflow: auto; 
  }

  ::ng-deep .mat-column-demo-nombre {
    font-style: italic;
    width: 20% !important;
    max-width: 200px;
    font-weight: bold;
  }

  .mat-table-sticky-border-elem-right-demo-table {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left-demo-table {
    border-right: 1px solid #e0e0e0;
  }

  ::ng-deep .mat-column-demo-ciudad {
    font-style: italic;
    width: 10% !important; 
    max-width: 150px;
  }

  ::ng-deep .mat-column-demo-agencia {
    font-style: italic;
    width: 10% !important;
    max-width: 250px;
  }

  ::ng-deep .mat-column-demo-tipo {
    font-style: italic;
    width: 10% !important;
    max-width: 100px;

  }
  ::ng-deep .mat-column-demo-punto {
    font-style: italic;
    width: 10% !important;
    max-width: 150px;
  }

  ::ng-deep .mat-column-demo-ip {
    font-style: italic;
    width: 10% !important;
    max-width: 100px;
    font-weight: bold;
    font-size: smaller;
  }

  ::ng-deep .mat-column-demo-proveedor {
    font-style: italic;
    width: 10% !important;
    max-width: 100px !important;;
  }

  ::ng-deep .mat-column-demo-usuario {
    font-style: italic;
    width: 10% !important;
    max-width: 100px !important;;
  }

  ::ng-deep .mat-column-demo-medio {
    font-style: italic;
    width: 10% !important;
    max-width: 75px;

  }

  ::ng-deep .mat-column-demo-bw {
    font-style: italic;
    width: 10% !important;
    max-width: 75px !important;
    font-size: small;

  }

  ::ng-deep .mat-column-demo-codigo {
    font-style: italic;
    width: 10% !important;
    max-width: 100px;

  }

  ::ng-deep .mat-column-demo-propiedad {
    font-style: italic;
    width: 10% !important;
    max-width: 200px;
  }

  ::ng-deep .mat-column-demo-doble {
    font-style: italic;
    width: 20% !important;
    max-width: 100px;
    font-size: small;
  }

  ::ng-deep .mat-column-demo-estado {
    width: 10%;
    max-width: 100px;
  }

  ::ng-deep .mat-column-demo-action {
    width: 10%;
    max-width: 70px;
  }

  th.mat-column-demo-ciudad, td.mat-column-demo-ciudad {
    padding-left: 5px;
  }

  th.mat-column-demo-ip, td.mat-column-demo-ip {
    padding-left: 5px;
  }

  th.mat-column-demo-ambiente, td.mat-column-demo-ambiente {
    padding-left: 8px;
  }

  th.mat-column-demo-fecha, td.mat-column-demo-fecha {
    padding-left: 8px;
  }

  th.mat-column-demo-orion, td.mat-column-demo-orion {
    padding-left: 8px;
  }
  
  th.mat-column-demo-equipo, td.mat-column-demo-equipo {
    padding-left: 5px;
  }

  ::ng-deep .mat-form-field .mat-form-field-label{
      font-size: 14px;
      font-weight: bold;
  }

  ::ng-deep .mat-header-cell{
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;

  }

  /*
  ::ng-deep .mat-step-header {
    pointer-events: none !important;
  }*/
  
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: indigo; 
 }

 ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: indigo; 
}