<h1 mat-dialog-title>Inventario</h1>
<div mat-dialog-content>
    <ng-container [ngSwitch]="stepperOrientation | async">
        <div *ngSwitchCase="'horizontal'"></div>
        <div *ngSwitchCase="'vertical'"></div>
    </ng-container>
    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
        <mat-step [stepControl]="data.ubicacionFormG" label="Ubicacion">
            <form [formGroup]="data.ubicacionFormG">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ciudad</mat-label>
                            <mat-select (selectionChange)="selectioncity($event.value)" id="c" name="c"
                                formControlName="city" required>
                                <mat-option *ngFor="let c of data.cities" [value]="c">
                                    {{c.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Tipo</mat-label>
                            <mat-select (selectionChange)="selectiontipo($event.value)" id="t" name="t"
                                formControlName="tipo" required>
                                <mat-option *ngFor="let t of tipos" [value]="t">
                                    {{t.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Punto A</mat-label>
                            <input matInput [matAutocomplete]="ag" formControlName="ag">
                            <mat-autocomplete #ag="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                <mat-option *ngFor="let e of filteredOptionsAgencias | async" [value]="e">
                                    {{e.nombre}}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-button mat-raised-button type="submit" class="btn btn-default pull-left"
                        matStepperPrevious>Regresar</button>
                    <button mat-button mat-raised-button type="submit" class="btn btn-danger pull-right" matStepperNext
                        [disabled]="!data.ubicacionFormG.valid">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="data.networkFormG" label="Network">
            <form [formGroup]="data.networkFormG">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Ip</mat-label>
                            <input matInput id="ip" name="ip" formControlName="ip" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Punto B</mat-label>
                            <!--input matInput [matAutocomplete]="punto" formControlName="punto" (keyup)="completar(trigger)"[(ngModel)]="npunto" #trigger="matAutocompleteTrigger"  >
                            <mat-autocomplete #punto="matAutocomplete"
                                (optionSelected)="selectionpunto($event.option.value)"
                                [displayWith]="displayFn.bind(this)">
                                <mat-option *ngFor="let e of filteredOptionsPunto | async" [value]="e">
                                    {{e.nombre}}
                                </mat-option>
                            </mat-autocomplete-->
                            <mat-select id="punto" name="punto" formControlName="punto" required>
                                <mat-option *ngFor="let p of puntos" [value]="p">
                                    {{p.nombre}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Proveedor</mat-label>
                            <mat-select id="proveedor" name="proveedor" formControlName="proveedor" required>
                                <mat-option *ngFor="let p of data.propietarios" [value]="p">
                                    {{p.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Medio</mat-label>
                            <mat-select id="medio" name="medio" formControlName="medio" required>
                                <mat-option *ngFor="let m of data.medios" [value]="m">
                                    {{m.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>BW(Kbps)</mat-label>
                            <input type="number" matInput id="bw" name="bw" formControlName="bw" required>
                        </mat-form-field>
                    </div>

                </div>
                <div>
                    <button mat-button mat-raised-button type="submit" class="btn btn-default pull-left"
                        matStepperPrevious>Regresar</button>
                    <button mat-button mat-raised-button type="submit" class="btn btn-danger pull-right" matStepperNext
                        [disabled]="!data.networkFormG.valid">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="data.adicionalFormG" label="Gestion">
            <form [formGroup]="data.adicionalFormG">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Propietario</mat-label>
                            <mat-select id="propietario" name="propietario" formControlName="propietario" required>
                                <mat-option *ngFor="let p of data.entidades" [value]="p">
                                    {{p.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-label>Login / Piloto / Identificador de Servicio</mat-label>
                            <input matInput id="identificador" name="identificador" formControlName="identificador">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-button mat-raised-button type="submit" class="btn btn-default pull-left"
                        matStepperPrevious>Regresar</button>
                    <button mat-button mat-raised-button type="submit" class="btn btn-danger pull-right" matStepperNext
                        [disabled]="!data.adicionalFormG.valid">Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Enviar</ng-template>
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <p [hidden]="data.isnew">ACTUALIZAR INFORMACION </p>
                    <p [hidden]="!data.isnew">INGRESAR INFORMACION </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" [hidden]="data.isnew">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Activado</mat-label>
                        <mat-select [(value)]="data.estado">
                            <mat-option *ngFor="let a of data.activado" [value]="a.id">{{ a.nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button mat-button mat-raised-button type="submit" class="btn btn-default pull-left"
                    matStepperPrevious>Regresar</button>
                <button mat-button mat-raised-button type="submit" class="btn btn-danger pull-right" matStepperNext
                    [disabled]="!data.adicionalFormG.valid" (click)="sendinfo()">Enviar</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
<h6 [hidden]="data.isnew">Creacion: {{usuarioc}} {{ fechac}}</h6>
<h6 [hidden]="data.isnew">Ultima modificacion: {{usuariom}} {{ fecham}}</h6>