<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(1)">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{total.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{total.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{total.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i>
                            <a>Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(2)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tfecha.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tfecha.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tfecha.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(3)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tfechaprox.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tfechaprox.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tfechaprox.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(4)">
                            <i class="material-icons">fact_check</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{tutil.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tutil.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tutil.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i>
                            <a>Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(5)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tufecha.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tufecha.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tufecha.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(6)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tufechaprox.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tufechaprox.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tufechaprox.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(7)">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{tbodega.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbodega.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbodega.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i>
                            <a>Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(8)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tbfecha.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbfecha.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbfecha.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" Style="cursor:pointer;" (click)="clickicon(9)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tbfechaprox.c}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="row" style="padding-inline: 5%;">
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbfechaprox.b}}
                                <small>E.Banco</small>
                            </h4>
                        </div>
                        <div class="col-lg- col-md-6 col-sm-6">
                            <h4 class="card-title">{{tbfechaprox.n}}
                                <small>E. Proveedor</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">library_books</i> Actividades
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataAct" class="demo-table">

                                        <ng-container matColumnDef="demo-id">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Id </mat-label>
                                                    <input type="number" matInput disabled>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.id}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="demo-actividad">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label>Actividad </mat-label>
                                                    <input type="number" matInput disabled>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.HeaderActConf[0].actividad}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="demo-action">
                                            <th mat-header-cell *matHeaderCellDef>
                                                <mat-form-field class="example-full-width" appearance="none">
                                                    <mat-label> </mat-label>
                                                    <input type="number" matInput disabled>
                                                </mat-form-field>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div >
                                                    <button mat-icon-button matTooltip="Editar"
                                                        [matTooltipPosition]="'above'"
                                                        (click)="obtenerActid(element.id)">
                                                        <mat-icon>mode_edit</mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="totalenght" [pageSize]="5" (page)="Page($event)"
                                    [pageIndex]="pageIndex" aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>