<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon"  (click)="clickicon(1)">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{total}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i> 
                            <a >Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" (click)="clickicon(2)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tfecha}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon" (click)="clickicon(3)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en inventario</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tfechaprox}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" (click)="clickicon(4)">
                            <i class="material-icons">fact_check</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{tutil}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i> 
                            <a >Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" (click)="clickicon(5)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tufecha}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon" (click)="clickicon(6)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos utilizados</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tufechaprox}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" (click)="clickicon(7)">
                            <i class="material-icons">storage</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">Total</p>
                        <h3 class="card-title">{{tbodega}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">remove_red_eye</i> 
                            <a >Revisar...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" (click)="clickicon(8)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">EoL cumplido</p>
                        <h3 class="card-title">{{tbfecha}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hasta {{todayf}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon" (click)="clickicon(9)">
                            <i class="material-icons">schedule</i>
                        </div>
                        <p class="card-category">Dispositivos en Bodega</p>
                        <p class="card-category">EoL por cumplir en menos de 1 año</p>
                        <h3 class="card-title">{{tbfechaprox}}
                            <small>Equipos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> {{todayf}} - {{today1f}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>